<%= render partial: 'properties/property_header', locals: { property: @property } %>

<div class="w-full space-y-6">
  <%= render partial: 'properties/property_tabs', locals: { property: @property } %>

  <% if @property.contract.present? %>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex items-center">
          <div class="flex-grow">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              <%= @contract.lease_sale_label %>
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              last updated on <%= render TimeWithZoneComponent.new(date_time: @contract.updated_at, format: :short, time_zone: @current_agent.time_zone) %>.
            </p>
          </div>
          <% if PropertiesPolicy.edit?(@property, Current.agent) %>
            <div>
              <span class="block">
                <%= link_to property_contract_path(@property), data: { turbo_method: :delete }, class: 'inline-flex items-center px-4 py-2 border border-red-300 rounded-md shadow-sm text-sm font-medium text-red-700 bg-white hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-purple-500', role: 'button' do %>
                  <!-- Heroicon name: solid/trash -->
                  <svg class="-ml-1 mr-2 h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                  Delete
                <% end %>
                <%= link_to edit_property_contract_path(@property), class: 'inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-purple-500', role: 'button' do %>
                  <!-- Heroicon name: solid/pencil -->
                  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                  </svg>
                  Edit
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>

      <%= render DataItemContainerComponent.new(cycle_class_name: 'contract_bg_colors') do |di| %>
        <% if @contract.for_sale? %>
          <%= di.with_item(name: Contract.human_attribute_name(:sale_price), value: number_to_currency(@contract.sale_price)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:sale_price_from), value: number_to_currency(@contract.sale_price_from)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:sale_price_to), value: number_to_currency(@contract.sale_price_to)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:sale_reserve_price), value: number_to_currency(@contract.sale_reserve_price)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:sale_actual_sale_price), value: number_to_currency(@contract.sale_actual_sale_price)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:private_treaty_minimum_price), value: number_to_currency(@contract.private_treaty_minimum_price)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:private_treaty_target_price), value: number_to_currency(@contract.private_treaty_target_price)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:private_treaty_target_price), value: number_to_currency(@contract.private_treaty_target_price)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:sale_auction_venue), value: @contract.sale_auction_venue) %>
          <%= di.with_item(name: Contract.human_attribute_name(:sale_inspection_on), value: @contract.sale_inspection_on&.to_formatted_s(:long)) %>
        <% end %>

        <%= di.with_item(name: Contract.human_attribute_name(:eoi_minimum_price), value: number_to_currency(@contract.eoi_minimum_price)) %>
        <%= di.with_item(name: Contract.human_attribute_name(:eoi_target_price),  value: number_to_currency(@contract.eoi_target_price)) %>
        <%= di.with_item(name: Contract.human_attribute_name(:eoi_close_on),      value: @contract.eoi_close_on&.to_formatted_s(:long)) %>
        <%= di.with_item(name: Contract.human_attribute_name(:eoi_inspection_on), value: @contract.eoi_inspection_on&.to_formatted_s(:long)) %>

        <% if @contract.for_lease? %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_net_rent), value: number_to_currency(@contract.lease_net_rent, precision: 8)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_total_net_rent), value: number_to_currency(@contract.lease_total_net_rent)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_outgoings), value: number_to_currency(@contract.lease_outgoings, precision: 8)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_total_outgoings), value: number_to_currency(@contract.lease_total_outgoings)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_gross_rent), value: number_to_currency(@contract.lease_gross_rent, precision: 8)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_total_gross_rent), value: number_to_currency(@contract.lease_total_gross_rent)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_cleaning), value: number_to_currency(@contract.lease_cleaning)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_covered_parking_space), value: number_to_currency(@contract.lease_covered_parking_space)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_on_grade_parking_space), value: number_to_currency(@contract.lease_on_grade_parking_space)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_other_rental_costs), value: number_to_currency(@contract.lease_other_rental_costs)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_commencement_on), value: @contract.lease_commencement_on&.to_formatted_s(:long)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_expires_on), value: @contract.lease_expires_on&.to_formatted_s(:long)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_term), value: @contract.lease_term) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_rent_review_on), value: @contract.lease_rent_review_on&.to_formatted_s(:long)) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_escalation_rate), value: @contract.lease_escalation_rate) %>
          <%= di.with_item(name: Contract.human_attribute_name(:lease_escalation_formulae), value: @contract.lease_escalation_formulae) %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
      </svg>
      <h3 class="mt-2 text-sm font-medium text-gray-900">No contract</h3>

      <% if PropertiesPolicy.edit?(@property, Current.agent) %>
        <p class="mt-1 text-sm text-gray-500">Get started by creating a new contract.</p>
        <div class="mt-6">
          <%= link_to new_property_contract_path(@property), class: 'inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500', role: 'button' do %>
            <!-- Heroicon name: solid/plus -->
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            New contract
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>