<div class="col-span-6 sm:col-span-6" >
  <div class="grid grid-cols-6 gap-6">
    <% form.object.building_area_attributes.each do |area_field| %>
      <div class="col-span-6 sm:col-span-2">
        <%= render FormLabelComponent.new(form: form, name: area_field) %>
        <%= render FormNumberFieldComponent.new(form: form, name: area_field, step: 0.01, min: 0) %>
      </div>
    <% end %>
    <div class="col-span-6 sm:col-span-2">
      <%= render FormLabelComponent.new(form: form, name: :hard_stand_yard_area) %>
      <%= render FormNumberFieldComponent.new(form: form, name: :hard_stand_yard_area, step: 0.01, min: 0) %>
    </div>
    <div class="col-span-6 sm:col-span-2">
      <%= render FormLabelComponent.new(form: form, name: :land_area) %>
      <%= render FormNumberFieldComponent.new(form: form, name: :land_area, step: 0.01, min: 0) %>
    </div>
  </div>
</div>