<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Naming rights
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.naming_rights %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Naming rights cost
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= number_to_currency(property.naming_rights_cost) %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Headline
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.headline %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Grabline
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.grabline %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Keywords
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.keywords %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Zoning
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.zoning %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Disability access
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.disability_access %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Lifts/Escalators/Travelators
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.lifts_escalators_travelators %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Number of parking spaces allocated
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.parking_spaces %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Parking comments
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.parking_comments %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Furniture
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.furniture %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Fitout
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.fit_out %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Furniture
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.furniture %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Overall Nabers rating
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.rating %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Hard stand yard area
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property_area_label(property.hard_stand_yard_area) %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Hard stand yard area description
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.hard_stand_yard_description %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Land area
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property_area_label(property.land_area) %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Land area description
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.land_area_description %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Lot number
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.lot_number %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Local council
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.local_council %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Crane
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.crane %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Entrance/Roller doors/Container access
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.entrances_roller_doors_container_access %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Clear span columns
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= property.clear_span_columns %>
  </dd>
</div>
<div class="<%= cycle('bg-white', 'bg-gray-50') %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    Clearance height (min / max)
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= ["#{number_with_precision(property.min_clearance_height, precision: 2)}m. (min)", "#{number_with_precision(property.max_clearance_height, precision: 2)}m. (max)"].join(' - ') %>
  </dd>
</div>
