<!-- Navbar -->
<nav class="bg-gray-50">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative h-16 flex items-center justify-between border-b border-gray-200 space-x-8">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to agent_root_path do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-purple-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
          <% end %>
        </div>

        <!-- Links section -->
        <div class="hidden lg:block">
          <%= menu_items %>
        </div>
      </div>

      <% if @search_path.present? %>
        <div class="flex-grow flex px-2 justify-center">
          <!-- Search section -->
          <div class="max-w-lg w-full">
            
            <%= form_tag(@search_path, method: :get) do %>
              <label for="search" class="sr-only">Search</label>
              <div class="relative text-gray-400 focus-within:text-gray-500">
                <div class="pointer-events-none absolute inset-y-0 left-0 py-2 pl-3 flex items-center">
                  <!-- Heroicon name: solid/search -->
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
                </div>
                <input id="search" class="block w-full bg-white py-2 px-8 border border-gray-300 rounded-md leading-5 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-purple-500 focus:border-purple-500 focus:placeholder-gray-500 sm:text-sm" placeholder="<%= @search_placeholder %>" type="search" name="search">
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="hidden lg:block">
        <%= render 'shared/profile_menu' %>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="bg-gray-50 border-b border-gray-200 lg:hidden" id="mobile-menu">
    <%= mobile_menu_items %>
    <div class="pt-4 pb-3 border-t border-gray-200">
      <div class="px-5 flex items-center">
        <div class="flex-shrink-0">
          <%= render AvatarComponent.new(initials: Current.agent.name.initials, color: 'text-indigo-500') %>
        </div>
        <div class="ml-3">
          <div class="text-base font-medium text-gray-800"><%= @current_agent.name %></div>
          <div class="text-sm font-medium text-gray-500"><%= @current_agent.email %></div>
        </div>
        <button type="button" class="ml-auto bg-gray-50 flex-shrink-0 rounded-full p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-purple-500">
          <span class="sr-only">View notifications</span>
          <!-- Heroicon name: outline/bell -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </button>
      </div>
      <div class="mt-3 px-2 space-y-1">
        <a href="#" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Your Profile</a>
        <a href="#" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Settings</a>
        <%= link_to 'Sign out', destroy_agent_session_path, data: { turbo_method: :delete }, class: 'block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100' %>
      </div>
    </div>
  </div>
</nav>