<% content_for :page_title do %>
  Send Email to Contacts | Reconnector.app
<% end %>

<%= render Page::HeaderComponent.new('Send Email to Contacts') %>

<div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 mb-6">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm text-yellow-700">
        <strong>Note:</strong> Email sending will not work on your local machine as your local domain is not registered with Microsoft API. This is for UI and functionality demonstration only.
      </p>
    </div>
  </div>
</div>

<%= render ErrorComponent.new(@bulk_contact_email.errors) if @bulk_contact_email.errors.any? %>

<%= form_with model: @bulk_contact_email, url: bulk_contact_emails_path, local: true, multipart: true do |form| %>
  <div class="space-y-6 w-full">
    <%= render Forms::ContainerComponent.new do %>
      <%= render Forms::SectionComponent.new do %>
        <%= render Forms::GridComponent.new do %>
          <div class="sm:col-span-6">
            <%= form.label :body, class: 'block text-sm font-medium text-gray-700' %>
            <%= form.rich_text_area :body, rows: 8, class: 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md' %>
          </div>

          <div class="sm:col-span-6 space-y-4 mb-4">
            <div class="text-base font-medium text-gray-900" aria-hidden="true">Attachments</div>

            <div class="relative flex items-start">
              <div class="flex h-5 items-center">
                <%= form.check_box :attach_brochures, class: 'h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500' %>
              </div>
              <div class="ml-3 text-sm">
                <label for="brochure" class="font-medium text-gray-700">Attach brochures</label>
                <span id="attach-brochure" class="text-gray-500"><span class="sr-only">Attach brochure </span>so that contacts can see the property details offline.</span>
              </div>
            </div>

            <label for="cover-photo" class="block text-sm font-medium text-gray-700">Additional files</label>
            <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
              <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="flex text-sm text-gray-600">
                  <%= form.label :files, class: 'relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500' do %>
                    <span>Upload one or more files</span>
                    <%= form.file_field :files, multiple: true, class: 'sr-only' %>
                  <% end %>
                  <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs text-gray-500">Any files up to 10MB</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="text-base font-medium text-gray-900" aria-hidden="true">Select the properties</div>
      <%= render Forms::SectionComponent.new do %>
        <div class="relative">
          <!-- Sticky Property requirement section -->
          <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
            Latest 30 properties available for selection
          </div>

          <!-- List of properties -->
          <% if @properties.any? %>
            <%= render partial: 'properties/table', locals: { properties: @properties, sortable: false } %>
          <% else %>
            <div class="flex justify-center py-6">
              <p>No properties found</p>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <!-- Action buttons -->
      <%= render Forms::SectionComponent.new do %>
        <div class="flex justify-end space-x-4 mt-6">
          <%= render ButtonComponent.new(text: 'Back', url: contact_search_forms_path) %>
          <%= render SubmitButtonComponent.new(text: 'Send email', icon: :email) %>
        </div>
      <% end %>

    <% end %>
  <% end %>
