<div class="flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="relative overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <%= tag.table data: { controller: :'table-checkbox-toggle' }, class: 'min-w-full table-fixed divide-y divide-gray-300' do %>
          <thead class="bg-gray-100">
            <tr class="space-x-4">
              <th scope="col" class="relative w-12 px-6 sm:w-16 sm:px-8">
                <%= tag.input data: { action: 'table-checkbox-toggle#toggle' }, type: :checkbox, class: 'absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500 sm:left-6' %>
              </th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Name</th>
              <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
              <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900">Mobile phone</th>
              <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900">Phone</th>
              <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900">Shared</th>
              <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% contacts.each do |contact| %>
              <tr class="<%= cycle('bg-white', 'bg-gray-50') -%> space-x-2">
                <td class="pl-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <%= check_box_tag 'contact_ids[]', contact.id, false, 
                      { data: { table_checkbox_toggle_target: 'checkbox' }, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' } %>
                </td>
                <td class="py-4 pl-4 pr-3 whitespace-nowrap text-sm font-medium text-gray-900">
                  <%= contact.name %>
                </td>
                <td class="py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  <%= contact.email %>
                </td>
                <td class="py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  <%= contact.mobile %>
                </td>
                <td class="py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  <%= contact.phone %>
                </td>
                <td class="py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  <% if contact_shared_by_different_agent?(contact, @current_agent) %>
                    <span class="inline-flex items-center rounded bg-indigo-100 px-2 py-0.5 text-xs font-medium text-indigo-800"><%= contact.agent.name %></span>
                  <% elsif contact.shared? %>
                    <%= render BadgeComponent.new(text: 'Shared', color: :blue) %>
                  <% else %>
                    <%= render BadgeComponent.new(text: 'Not shared', color: :gray) %>
                  <% end %>
                </td>
                <td class="py-4 whitespace-nowrap text-sm font-medium">
                  <%= link_to 'View', contact, class: 'text-indigo-600 hover:text-indigo-900' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </div>
    </div>
  </div>
</div>
