<!DOCTYPE html>
<html>
  <head>
    <title>Reconnector.app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="min-h-full">
      <%= render Console::NavbarComponent.new %>
      <%= yield %>
      <%= render 'shared/flash_toast' if flash && flash.any? %>
    </div>
  </body>
</html>
