<!DOCTYPE html>
<html>
  <head>
    <title>Reconnector.app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white">
    <%= yield %>
    <div class="py-8 flex align-center justify-center text-sm text-slate-500">
      <p>© 2023 Reconnector.app, All rights reserved.</p>
    </div>
  </body>
</html>
